* {
  box-sizing: border-box;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  margin: 4em auto;
  background-color: var(--White);
  border-radius: 10px;
}

.product-image-section {
  width: 100%;
  height: 450px;
  background-image: url('images/image-product-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0 15px;


}



.product-writting-section {
  width: 100%;

  padding: 0 2rem;

}

.product-title {
  color: var(--Dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}

.main-heading {
  font-weight: 900;
  font-size: 26px;
  width: 80%;
  color: var(--Very-dark-blue);
}

.main-paragraph {
  color: var(--Dark-grayish-blue);
  line-height: 20px;
}

.prices-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-price {
  margin: 0 16px 0 0;
  font-size: 30px;
  color: var(--Dark-cyan);
}

.small-price {
  font-size: 15px;
  font-weight: 600;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
}

.card-button {
  width: 100%;
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
  font-size: 15px;
  padding: 12px 0;
  background-color: var(--Dark-cyan);
  color: var(--White);
  outline: none;
  border: none;
}

.card-button img {
  margin-right: 5px;
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }

  main {
    flex-direction: column;
    max-width: 70%;
    margin: 0;
  }

  .product-image-section {

    background-image: url('images/image-product-mobile.jpg');
    border-radius: 15px 15px 0 0;



    
  }

}






.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
